:root{
    --color01-normal: #519259;
    --color01-hover: #287031;

    --color02-normal: #ff7f3f;
    --color02-hover: #d76024;

    --color03-normal: #2e708c;
    --color03-hover: #1e556d;

    --color04-normal: #31aa9d;
    --color04-hover: #148579;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: thin;
}

body{
    margin: 0 auto;
    width: 100%;
    font-family: "Poppins";
    background-color: #f5f7eb;
    color: #323235;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header{
    margin: 0 auto;
    padding: 2em 1em;
    width: 100%;
    text-align: center;
    background-color: #323235;
    background-image: url('../img/header.png');
    background-position: center;
    background-size: cover;
}

#header h1{
    margin-top: 0;
    color: #fff;
}

#header p{
    color: #fff;
    font-weight: thin;
    font-style: italic;
}

.text-shadow{
    text-shadow: 0 2px 5px #000 ;
}

.tools{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;

}

.tools input,
.tools select{
    border: none;
    margin: 0;
    padding: 0.5em 1em;
    height: 3em;
    border-right: 1px solid #323235;
    border-radius: 0;
}

.tools i{
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    margin: 0;
    height: 3em;
    padding: 1em;
}

.tools i:hover{
    color: #fff;
    background-color: #f21938;
    transition: ease-in-out;
    transition-duration: 250ms;
}

#addItem{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

@media screen and (max-width: 600px){
    #addItem{
        flex-direction: column;
    }

    .tools input,
    .tools select{
    border-right: none;
    border-bottom: 1px solid #323235;
    }

}

.list{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
    min-height: 60vh;
}

.sublist{
    padding: 1em;
    padding-bottom: 3em;
    margin: 1em auto;
    border-radius: .5em;
    box-shadow: rgb(0 0 0 / 0.3) 0 4px 5px;
    color: #fff;
}

.color-01{
    background-color: var(--color01-normal);
}

.color-02{
    background-color: var(--color02-normal);
}

.color-03{
    background-color: var(--color03-normal);
}

.color-04{
    background-color: var(--color04-normal);
}

.sublist-header{
    padding: 1em;
    
    display: grid;
    grid-template-columns: 80% 20%;
}

.color-01 .sublist-header{
    border-bottom: var(--color01-hover) dotted 1px;
}

.color-02 .sublist-header{
    border-bottom: var(--color02-hover) dotted 1px;
}

.color-03 .sublist-header{
    border-bottom: var(--color03-hover) dotted 1px;
}

.color-04 .sublist-header{
    border-bottom: var(--color04-hover) dotted 1px;
}

.completion{
    text-align: right;
    overflow: hidden;
}

.completion::before{
    content: '\f0ae';
    font-family: 'Font Awesome 6 Free';
    padding-right: .5em;
}

.sublist > ul{
    padding: 0;
    margin: 0;
}

.sublist > ul > li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
    display: grid;
    grid-template-columns: 80% auto;
    height: 4em;
}

.sublist > ul > li > span{
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1em;
}

.sublist li:hover{
    cursor: pointer;
}

.color-01 li:hover,
.color-01 li.checked{
    background-color: var(--color01-hover);
}

.color-02 li:hover,
.color-02 li.checked{
    background-color: var(--color02-hover);
}

.color-03 li:hover,
.color-03 li.checked{
    background-color: var(--color03-hover);
}

.color-04 li:hover,
.color-04 li.checked{
    background-color: var(--color04-hover);
}

.item:hover{
    text-decoration: line-through;
}

.item.checked{
    text-decoration: line-through;
}

.sublist li:first-child{
    margin-top: 1em;
}

.item{
    overflow: hidden;
    width: 100%;
}

.sublist-store{
    overflow: hidden;
}

.sublist-store::before{
    content: "\f54e";
    font-family: 'Font Awesome 6 Free';
    padding-right: .5em;
}

.close{
    text-align: center;
    background-color: #f21938;
    height: 4em;
    color: #fff;
    display: none !important; 
}

.close:hover{
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 250ms;
}

.close.visible{
    display: grid !important;
    transition: ease-in-out;
    transition-duration: 250ms;
    padding: 0;
    padding-right: 1em;
    margin: 0;
    height: 100%;
}

.close::before{
    display: grid ;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 0;
    padding-left: 1em;
    margin: 0;
}


footer{
    margin: 0 auto;
    text-align: center;
    color: #959b74;
    padding: 2em 1em;
    width: 100%;
}

footer a{
    color: #959b74;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}